@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

:root {
  --color-site-primary: #5451fb;
  --color-site-secondary: #3a4256;
  --color-site-complement-1: #f8f9fa;
  --color-site-complement-2: #5451fb;
  --color-site-complement-3: #ff8182;
  --color-site-black: #000000;
  --color-site-gray: #6c7076;
  --color-site-blue: #5451fb;
  --color-site-red: #e00000;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  font-family: "Montserrat", sans-serif;
  color: "#0A0D13";
}
a {
  text-decoration: none;
}

.back-btn {
  position: absolute;
  padding: 0;
  justify-content: flex-start;
  margin-top: 3px;
  color: #fff;
  min-width: 1px;
}
.card-image {
  border-radius: 8px;
}
